<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>filtri.SessionFilter</filter-class>
    </filter>
    <filter>
        <filter-name>FilterAfterlogin</filter-name>
        <filter-class>filtri.FilterAfterlogin</filter-class>
    </filter>
    <filter>
        <filter-name>FilterGroupCtrl</filter-name>
        <filter-class>filtri.FilterGroupCtrl</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterGroupCtrl</filter-name>
        <servlet-name>groupCtrl</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterAfterlogin</filter-name>
        <servlet-name>AfterLogin</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/afterLogged/*</url-pattern>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>ascoltatore.WebAppContextListener</listener-class>
    </listener>
    <context-param>
        <param-name> dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/socialdb;user=utente;password=utente</param-value>
    </context-param>
    <servlet>
        <servlet-name>FirstCtrl</servlet-name>
        <servlet-class>control.servlets.FirstCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AfterLogin</servlet-name>
        <servlet-class>control.servlets.AfterLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ownerCtrl</servlet-name>
        <servlet-class>control.servlets.ownerCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>groupCtrl</servlet-name>
        <servlet-class>control.servlets.groupCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moderatoreCtrl</servlet-name>
        <servlet-class>control.servlets.moderatoreCtrl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generapdf</servlet-name>
        <servlet-class>genericServlets.Generapdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileDownload</servlet-name>
        <servlet-class>genericServlets.FileDownload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstCtrl</servlet-name>
        <url-pattern>/FirstCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AfterLogin</servlet-name>
        <url-pattern>/afterLogged/afterLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ownerCtrl</servlet-name>
        <url-pattern>/afterLogged/ownerCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>groupCtrl</servlet-name>
        <url-pattern>/afterLogged/groupCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moderatoreCtrl</servlet-name>
        <url-pattern>/afterLogged/moderatoreCtrl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generapdf</servlet-name>
        <url-pattern>/afterLogged/groupCtrl/generapdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileDownload</servlet-name>
        <url-pattern>/afterLogged/groupCtrl/fileDownload</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
