/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4-gen-2014, 16.51.24
    Author     : Giulian
*/
.header{
     float: right;
     width: 180px;
     margin: 0;
}

.container{
     text-align: left;
     width: 740px;
     margin-left: auto;
     margin-right: auto;
     padding: 0;
}

.sidebar{
    position:relative;
}

.right{
    position:relative;
}

.footer{
    margin-top: 10px;
     clear: both;
}

.content{
         margin: 0 200px 0 0;
}